# Environments
venv/
env/
.env

# Cache files
__pycache__/
*.py[cod]
*$py.class

# Data & Documents
data/
*.pdf
*.md

# OS specific
.DS_Store

# Dependencies & Build outputs
node_modules/
.turbo/
.next/
dist/
build/
out/
.env*.local
